{% extends "base.html.twig" %} {% block body %}
<h1 class="mt-4 jumbotron"><div class="container">Create an article</div></h1>
<br />

{% form_theme formArticle "bootstrap_4_layout.html.twig" %}

{{ form_start(formArticle) }}

{{ form_row(formArticle.title, {"attr" : { "placeholder" : "title"}}) }}
{{ form_row(formArticle.category) }}
{{ form_row(formArticle.content, {"attr" : { "placeholder": "content"}}) }}

{{ form_row(formArticle.image,{"attr" : { "placeholder" : "url"}}) }}

<button type="submit" class="btn btn-success mb-4">
  {% if editMode %} Edit article {% else %} Create article {% endif %}
</button>
{{ form_end(formArticle) }} {% endblock %}
