<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/lumen/bootstrap.min.css"
    />
    {% block stylesheets %}{% endblock %}
  </head>
  <body style="background-color: rgba(223, 222, 222, 0.61)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" hre;f="{{ path("movies")}}">MovieLister</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path("blog")}}">Articles</a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path("popular_movies")}}">Movies</a>
          </li>
          {% if not app.user %}
          <li class="nav-item"><a class="nav-link" href="{{ path("security_register") }}">Register</a></li>          
          <li class="nav-item"><a class="nav-link" href="{{ path("security_login") }}">Login</a></li>
          {% else %}
          <a class="nav-link" href="{{ path("blog_create")}}">Create an article</a>
          <li class="nav-item"><a class="nav-link" href="#">Create a list</a></li>
          <li class="nav-item"><a class="nav-link" href="#">My lists</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Search</a></li>
          <form class="form-inline my-2 my-lg-0">
          
          
            <li class="nav-item"><a class="nav-link active" href="{{ path("profile_user", {"id": app.user.id})}}) }}">Profile</a></li>
            
            <li class="nav-item active"><a class="nav-link" href="{{ path("security_logout") }}">Logout</a></li>
          </form>
          {% endif %}
        </ul>
        
      </div>
    </nav>
    <div class="container ">{% block body %}{% endblock %}</div>
    {% block javascripts %}
    
    {% endblock %}

    {# <script src="https://cloud.tinymce.com/5-testing/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script> #}
  </body>
</html>
